version: '3.8'
services:
  db:
    image: postgres:18
    container_name: my_postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: nemembory
    ports:
      - "5432:5432"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
